# Секреты и доступы (ОБЯЗАТЕЛЬНО К ЗАПОЛНЕНИЮ)
API_KEY=your_secure_api_key_here
REDIS_PASSWORD=your_secure_redis_password_here

# Инфраструктура
SHARED_DATA_ROOT=./data

API_PORT=8000

TASKIQ_WORKERS=1
TASKIQ_MAX_ASYNC_TASKS=1

QDRANT_REST_PORT=6333
QDRANT_GRPC_PORT=6334

REDIS_PORT=6379

# Модели
FASTEMBED_CACHE_DIR=/tmp/fastembed_cache
HF_CACHE_DIR=/tmp/huggingface_cache

# Папка для логов 2 модуля
MODULE_3_LOGS_ROOT=./module_3_rag_core/logs