# Настройки векторной БД (Qdrant)
QDRANT_HOST=qdrant
QDRANT_PORT=6333

# Настройки брокера сообщений (Redis)
REDIS_URL=redis://redis:6379/0

# Инфраструктура
SHARED_DATA_ROOT=./data

# Секреты
OPENAI_API_KEY=