# Инфраструктура
QDRANT_HOST=qdrant
REDIS_URL=redis://redis:6379/0

# Настройки LLM
USE_LLM_ENRICHMENT=False
#GEMINI_API_KEY=
#GEMINI_API_URL=

# Используй 'cuda' для видеокарты NVIDIA или 'cpu' для процессора
COMPUTE_DEVICE=cpu

# Дебаг
DEBUG=False